<footer class="article-footer clearfix">
    <%- partial('catetags') %>

    <div class="article-share" id="share">
        <% if(theme.jiathis.enable){ %>
        <%- partial('jiathis') %>
        <% } %>
    </div>
</footer>
